<h1 style="color: #5e9ca0; text-align: center;">&nbsp;</h1>
<h1 style="color: #5e9ca0; text-align: center;"><strong><span style="color: #000000;">Exploratory Analysis of Matrix Factorization algorithms.</span></strong></h1>
<h1 style="color: #5e9ca0; text-align: center;"><strong><span style="color: #000000;">[For Topic Modeling and Information Retrieval]</span></strong></h1>
<p style="color: #5e9ca0; text-align: center;"><strong><span style="color: #000000;">Supervisor:&nbsp;&nbsp;<a href="https://www.iitbhu.ac.in/dept/cse/people/rchowdarycse">Dr. Ravindranath Chowdary C</a></span></strong></p>
<p style="text-align: center;"><strong>Duration: January 2019 - April 2019</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;">This web application is submitted&nbsp;by  Venkat S. N. [Roll number: 17075036] as a part of the <strong>Exploratory Project</strong> [SEMESTER-IV]&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;">&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;"><strong>LSI, A brief overview:</strong></p>
<p style="text-align: justify; padding-left: 60px;">Latent Semantic Analysis, or LSA, is one of the foundational techniques in topic modeling.</p>
<p style="text-align: justify; padding-left: 60px;">The core idea is to take a matrix of what we have a document-term matrix and we decompose it into a separate document-topic matrix and a topic-term matrix.</p>
<p style="text-align: justify; padding-left: 60px;">You can find LSI algorithm implementation&nbsp;<a href="/lsi">here</a>.</p>
<p style="text-align: justify; padding-left: 60px;">&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;"><strong>NMF, A brief overview:</strong></p>
<p style="text-align: justify; padding-left: 60px;">Non-negative Matrix Factorization is a Linear-algebraic model, that factors high-dimensional vectors into a low-dimensionality representation.</p>
<p style="text-align: justify; padding-left: 60px;">By factoring them into the lower-dimensional form, NMF forces the coefficients to also be non-negative&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;">You can find NMF algorithm implementation&nbsp;<a href="/nmf">here</a>.</p>
<p style="text-align: justify; padding-left: 60px;">&nbsp;</p>
<p style="padding-left: 60px;"><strong>CORPUS AND IMPLEMENTATION DETAILS:</strong></p>
<p style="padding-left: 60px;">Here, we used a Medical text-corpus which consists of around 1000 text files containing text about medical disorders, phenomenon&nbsp;etc.</p>
<p style="text-align: justify; padding-left: 60px;">Also, both Latent Semantic Analysis and Non-Negative Matrix Factorization algorithms are implemented in <a href="https://python.org">python</a> using the libraries&nbsp;<a href="https://radimrehurek.com/gensim/">Gensim</a> and <a href="https://www.nltk.org/">NLTK</a>&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;">&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;"><strong>References:</strong></p>
<p style="text-align: justify; padding-left: 60px;"><em>Lee, Daniel D., and H. Sebastian Seung. "Algorithms for non-negative matrix factorization."&nbsp;Advances in neural information processing systems. 2001.</em></p>

<p style="text-align: justify; padding-left: 60px;"><em>Deerwester, Scott, et al. "Indexing by latent semantic analysis."&nbsp;Journal of the American society for information science&nbsp;41.6 (1990)</em></p>

<p style="text-align: justify; padding-left: 60px;"><em>Manning, Christopher, Prabhakar Raghavan, and Hinrich Sch&uuml;tze. "Introduction to information retrieval."&nbsp;Natural Language Engineering&nbsp;16.1 (2010): 100-103.</em></p>
<p style="text-align: justify; padding-left: 60px;">&nbsp;</p>
<p style="text-align: justify; padding-left: 60px;">You can find the source code and&nbsp;reports&nbsp;<strong><a href="https://github.com/SHANMUKHA-VENKAT/Information-Retrieval-System">here</a></strong>.</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<h2 style="color: #2e6c80;">&nbsp;</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
